<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Happy Thought</title>
</head>
<body>
    <form action="/newThought" method="POST">
        <label for="thoughtText">Your Happy Thought:</label>
        <input name="thoughtText" type="text"></input>        
        
        <br>
        <label for="postedBy">Who are you?</label>
        <input name="postedBy" type="text"></input>  
        <br>      
        <button type="submit">Submit</button>
    </form>

</body>
</html>