body {
    margin: 0px;
    padding: 0px;
}

body .mainContainer {
 max-width:650px;
 margin:40px auto;
 padding:0 10px;
 font:18px/1.5 -apple-system,BlinkMacSystemFont,"avenir next",avenir,"Segoe UI","lucida grande","helvetica neue",helvetica,"Fira Sans",roboto,noto,"Droid Sans",cantarell,oxygen,ubuntu,"franklin gothic medium","century gothic","Liberation Sans",sans-serif;
 color:#444

}
h1,
h2,
h3 {
 line-height:1.2
}

.verticalTextArea {
    resize: vertical;
}

input[type=password],input[type=text],input[type=date], .inputClass , select {
    width: 100%;
    padding: 8px 8px;
    margin: 8px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
button[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 20px 20px;
    margin: 8px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #45a049;
}

div.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font:18px/1.5 -apple-system,BlinkMacSystemFont,"avenir next",avenir,"Segoe UI","lucida grande","helvetica neue",helvetica,"Fira Sans",roboto,noto,"Droid Sans",cantarell,oxygen,ubuntu,"franklin gothic medium","century gothic","Liberation Sans",sans-serif;
}

.nav li {
    float: left;
    margin: 0;
    padding: 0;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover:not(.active) {
    background-color: #111;
}

.nav .active {
    background-color: #4CAF50;
}

.nav {
    margin: 0;
    padding: 0;
    border: 0;
    
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:100%;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardContainer {
    padding: 2px 16px;
}

#fixed-profilePicture {
    position: fixed;
    top: 1em;
    right: 1em;
}